
.content-header
    .container-fluid
        .row.mb-2
            .col-6
                h1.m-0.text-dark {{title}}
section.content
    .container-fluid(*ngIf="state == st.ADD_URL")
        .row
            .col-12
                    label(for="textarea") URLs
                    textarea.form-control(id="exampleFormControlTextarea1" rows="3", [(ngModel)]="urls")
                    br
                    br
                    button.btn.btn-success(type='button', (click)="start()") Начать
    .container-fluid(*ngIf="state == st.DOWNLOADING")
        .row
            .col-12
                .progress
                    .progress-bar.bg-success(role="progressbar" [style]="'width: '+procent+'%'" [aria-valuenow]="procent" aria-valuemin="0" aria-valuemax="100") {{procent}}%
                br
                br
                button.btn.btn-success(type='button', (click)="endDownloading()") Downloading
    .container-fluid(*ngIf="state == st.SELECTING")
        .row
            .col-12
                table.table.table-bordered
                    tr
                        th Поле
                        th Совпадений
                        th Сопоставление
                    ng-container(*ngFor="let row of response")
                            tr
                                td 
                                    //- | {{row | json}}
                                    h6 {{row.name}}
                                td.text-center {{row.count}}
                                td
                                    select.custom-select(id="inputGroupSelect01")
                                        option(selected) Неизвестное
                                        option(value="1") ИНН
                                        option(value="2") Дата регистрации
                                        option(value="3") Имя учередителя
