extends adminpanel.pug

block title
    title wait

block content 
    h1 Wait...
    .progress
        .progress-bar.bg-success(role="progressbar" style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100") 50%
    br