extends adminpanel.pug

block title
    title Word

block content 
    h1 Выберете синоним или впишите в список:
    .row
        form.form-group.col-md-5
            input(type="text" class="form-control" id="word" placeholder="WORD")
        img.col-md-2.icon-arrow(src="icon/arrow-thick-right.svg")
        .container.col-md-5
            .input-group.float-right
                .input-group-prepend
                    label.input-group-text(for="inputGroupSelect01") Выебрите синоним
                select.custom-select(id="inputGroupSelect01")
                    option(selected) Ничего
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                button.btn.btn-primary(type="add") +
    br
    button.btn.btn.btn-success(type='submit') Дальше!
    
    br
    br

