extends adminpanel.pug

block title
    title input

block content 
    form.form-group
        label(for="textarea") URL
        textarea.form-control(id="exampleFormControlTextarea1" rows="3")
        br
        br
        button.btn.btn-success(type='submit') Начать