extends adminpanel.pug 

block title
    title End

block content 
    h1 Готово!
    .progress
        .progress-bar.bg-success(role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100") 100%
    h2 Результат:
    br
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse ci
    br
    button.btn.btn-primary(type='download') Скачать
    a(href='#').btn.btn-dark.float-right Ещё раз
    br
    br