mixin navli(texts,pages)
    li.nav-item.text-secondary
        if pages
            a(href= pages class="nav-link")= texts
        else 
            a(href= '#' class="nav-link")= texts


header.header
    nav.navbar.navbar-expand-lg.bg-light.navbar-light
        a(href='#').navbar-brand Semantic Astra
        //button.navbar-toggler(type="button")(data-toggle="collapse")(data-target="#navbarTogglerDemo02")(aria-controls="navbarTogglerDemo02")(aria-expanded="false")(aria-label="Toggle navigation")
            span.navbar-toggler-icon
        //.collapse.navbar-collapse(id="navbarTogglerDemo02")
            ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                +navli('Главная',"in.html")   
                    span.sr-only (current)
                +navli('О нас')
                +navli('Ссылки')      
            a(href="login.html")
                button.btn.float-right.btn-primary  Login
